.sidebar{
    width:250px;

    min-height:
        calc(100vh - 70px);

    background:
        var(--bg-secondary);

    padding:30px;

    color:
        var(--text-secondary);

    border-right:
        1px solid
        var(--border);
}

.sidebar p{
    margin-bottom:30px;

    cursor:pointer;

    font-size:18px;

    transition:
        var(--transition);
}

.sidebar p:hover{

    color:
        var(--primary);

    transform:
        translateX(5px);
}

.sidebar-item {

    transition:
        transform 0.2s ease,
        color 0.3s ease;
}

.sidebar-item:hover {

    transform:
        translateX(6px);

    color:
        var(--primary);
}