.login-container{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:
    linear-gradient(
        135deg,
        #020617,
        #0f172a,
        #1e293b
    );
}

.login-card{
    width:420px;
    padding:40px;
    border-radius:25px;
    background:
    rgba(255,255,255,0.05);

    border:
    1px solid rgba(255,255,255,0.1);

    backdrop-filter:blur(20px);

    box-shadow:
    0 10px 40px rgba(0,0,0,0.5);
}

.logo{
    text-align:center;
    color:white;
    font-size:36px;
    font-weight:bold;
}

.subtitle{
    text-align:center;
    color:#94a3b8;
    margin-top:10px;
    margin-bottom:35px;
}

.form-group{
    margin-bottom:20px;
}

.form-group label{
    display:block;
    color:#cbd5e1;
    margin-bottom:8px;
}

.form-group input{
    width:100%;
    padding:15px;
    border:none;
    border-radius:15px;
    background:#1e293b;
    color:white;
    font-size:15px;
    outline:none;
}

.form-group input:focus{
    border:1px solid #6366f1;
}

.login-btn{
    width:100%;
    padding:15px;
    border:none;
    border-radius:15px;
    background:#6366f1;
    color:white;
    font-size:16px;
    font-weight:bold;
    margin-top:10px;
}

.login-btn:hover{
    background:#8b5cf6;
    transition:0.3s;
}

.register-text{
    text-align:center;
    color:#94a3b8;
    margin-top:20px;
}

.register-link{
    color:#818cf8;
    text-decoration:none;
    font-weight:bold;
}