.admin-section{
    margin-top:50px;
}

.admin-action{
    text-align:center;
    padding:40px;
    cursor:pointer;
    font-size:20px;
    min-height:160px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.admin-action:hover{
    transform:translateY(-5px);
}

.admin-table{
    width:100%;
    border-collapse:collapse;
}

.admin-table th,
.admin-table td{
    padding:18px;
    border-bottom:1px solid var(--border);
    text-align:left;
}

.admin-table th{
    color:var(--text-primary);
}

.admin-table td{
    color:var(--text-secondary);
}

.admin-table button{
    margin-right:10px;
}
.admin-table{
    width:100%;
    border-collapse:collapse;
}

.admin-table th,
.admin-table td{
    padding:18px;
    border-bottom:1px solid var(--border);
    text-align:left;
}

.admin-table button{
    margin-right:10px;
}