.card {
    background:
        var(--card-bg);

    border:
        1px solid var(--border);

    border-radius:
        var(--radius);

    box-shadow:
        var(--shadow);

    padding: 20px;

    transition:
        var(--transition);
}

.card:hover {

    transform:
        translateY(-4px);

    border:
        1px solid var(--primary);

    box-shadow:
        0px 0px 25px rgba(99, 102, 241, 0.35);
}

.card-title {
    font-size: 22px;
    font-weight: 600;
    color:
        var(--text-primary);

    margin-bottom: 12px;
}

.card-subtitle {
    color:
        var(--text-secondary);

    margin-bottom: 15px;
}

.card-content {
    color:
        var(--text-primary);

    line-height: 1.6;
}
